/* Custom CSS */
/* cinergi about and contribute */
.aGrid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 20px 300px auto 300px 20px ;
    background-color: #fff;
}

.aBox {


    border-radius: 5px;
    padding: 20px;


}

.aaa {
    grid-column: 1 / span 4;

}

.aa {
    grid-column: 2 / span 2;
    background-color: #ABCADE;

}
.dd {
    grid-column: 2 ;
    grid-row: 3 / span 2;
}
.bb {
    grid-column: 4 ;
    grid-row: 2 ;
}
.cc {
    grid-column: 3 / span 2;
    grid-row: 4 ;
}

.calcite .esriSimpleSlider div{width:32px;height:24px ;
    border-width:0;border-style:none;color:#4c4c4c;
    background-color:#fff;-moz-transition:all 0.25s ease;
    -o-transition:all 0.25s ease;-webkit-transition:all 0.25s ease;
    transition:all 0.25s ease;
    -moz-user-select:-moz-none;-ms-user-select:none;-webkit-user-select:none;
    user-select:none;-moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;box-sizing:border-box;cursor:pointer;
    font-family:"CalciteWebCoreIcons";speak:none;
    font-size:8px;
    font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;text-indent:0;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-size:12px;line-height:2.66667}

.g-spatial-filter-locator {

    top: 234px;
}

.g-spatial-filter-bbox {

}
.g-filter-bbox-input {
    width: 70%;
}
.g-spatial-filter-n  {
    width: 6em;

      height:1.5em;
  }
.g-spatial-filter-s{
    width: 6em;

    height: 1.5em;
}
.g-spatial-filter-e{
    width: 6em;
;
     height: 1.5em;
 }
.g-spatial-filter-w{
    width: 6em;

    height: 1.5em;
}

.g-item-card .g-item-source-and-date {
    padding: 2px;
    font-size: 10px;
    width: 15%;
}
/* .g-item-card .g-item-description, */
.g-item-card .g-item-owner-and-date {

    width: 75%;
}

.g-paging .pagination-page {
   width: 4em;
    padding: 0px 0px;
}
.g-paging .dijitTextBox .dijitInputField,
.g-paging .dijitTextBox .dijitInputInner {
    padding: 0px 0px;
    line-height: 1.5;
}
.g-paging .dijitButtonContents {

    padding: 0px 0px;
}

.g-paging  .dijitArrowButtonContainer{

    padding: 0px 0px;
}
.g-paging .pagination-sm > li > span {
    padding: 0em 0.5em;
}

.navbar-brand {
    height:auto;
    padding-bottom: 12px;
    padding-top: 12px;
}
.navbar-logo {
    height:48px;
    width: auto;
   float:left ;

}

.g-item-save {

    font-family: "Avenir Next W01","Avenir Next","Avenir","Helvetica Neue","Helvetica","Arial","sans-serif";

}

.g-item-save-xx {
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    margin-top: 2px;
    color: #440000;
    display: inline-block;
    margin-left: 400px;
    font-family: "Avenir Next W01","Avenir Next","Avenir","Helvetica Neue","Helvetica","Arial",sans-serif;
    border:2px solid #dcdcdc;
    background-color: #29fa6;

}
.g-item-card .g-item-card-saved {
    margin-top: 5px;
    margin-left: 40px;
    padding: 4px;
    border-bottom: 1px solid #cccccc;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.g-item-card-saved {
    background-color: #aaaaaa;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.g-item-card .g-item-title {
    font-weight: bold;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.g-item-card .g-item-status {
    margin-right: 0.5em;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
