.typeahead, .tt-query, .tt-hint {
	/*
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 24px;
    height: 30px;
    line-height: 30px;
    outline: medium none;
    padding: 8px 12px;
    width: 396px;

    width: 396px;
    */}
.typeahead {
    background-color: #fff;
}
.typeahead:focus {
    border: 2px solid #0097cf;
}
.tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
    color: #999;
}
.tt-menu {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin: 1em 0;
    padding: 8px 0;
  /*  width: 422px; */
}
.tt-suggestion {
    font-size: 1.0em;
    line-height: 1.2em;
    padding: 3px 1.5em;
}
.tt-suggestion:hover {
    background-color: #0097cf;
    color: #fff;
    cursor: pointer;
}
.tt-suggestion.tt-cursor {
    background-color: #0097cf;
    color: #fff;
}
.tt-suggestion p {
    margin: 0;
}

.sb-typeahead-wrapper {
    color:#333333;
    display: block;
    background-color: #fff;
    background: #f8f8f8;
    margin: 5px 0;
    font-family: arial, sans-serif;
    font-size: 12px;
}

.tt-dropdown-menu {
    color:#333333;
    background-color: #fff;
    background: #f8f8f8;
    border: 1px solid #000;
    font-family: arial, sans-serif;
    font-size: 14px;
}

.tt-suggestion.tt-cursor {
    color:#333333;
    background-color: #ccc;
    background: #f8f8f8;
    font-family: arial, sans-serif;
    font-size: 12px;
}

.triggered-events {
    color:#333333;
    background-color: #ccc;
    float: right;
    width: 500px;
    height: 300px;
    font-family: arial, sans-serif;
    font-size: 11px;
}

.sb-typeahead-text {
    color:#333333;
    background-color: #ccc;
    background: #f8f8f8;
    height: auto;
    width: 250px;
}
.form-control {
    padding: 6px;
    vertical-align: middle;
    font-size: 12px;
}
.input-group div{ vertical-align: middle;}