<div data-dojo-id="wbDialog" title="JypterHub and Username">
    <div data-dojo-type="dojo/store/Memory"
         data-dojo-id="hubStore"
     style="width: 40em;"  ></div>
    <form>

<fieldset class="form-group">
                <select data-dojo-type="dijit/form/Select" name="hubMenu"
                       data-dojo-attach-point="hubMenu"

                        style="width: 38em;"
                        maxHeight="0"
                        data-dojo-attach-event="onChange: updateDialog"
                >
                    <option value="" selected="selected">Select a field</option>

                </select>
                <!--<div  id="${id}_hubMenu"-->
    </fieldset>
        <div style="height: 3em">
    <fieldset class="form-group" data-dojo-attach-point="jusernamegroup" >
            <label for="${id}_jusername" data-dojo-attach-point="jusernameLabel">username:</label>
            <input data-dojo-type="dijit/form/TextBox"
                   name="username" id="${id}_jusername"
                       data-dojo-attach-point="jusername"
                   style="width: 30em;" />

</fieldset>
        </div>
        <button type="button"
                data-dojo-attach-point="okButton"
                data-dojo-attach-event="onClick: onOkClicked"
                class="btn btn-primary btn-sm"
        >${okLabel}</button>
        <button type="button"
                data-dojo-attach-point="cancelButton"
                data-dojo-attach-event="onClick: onCancelClicked"
                class="btn btn-link btn-sm"
        >${cancelLabel}</button>
   </form>
</div>