<div>
    <div class="g-drop-pane" data-dojo-type="app/search/DropPane"
         data-dojo-attach-point="dropPane"
         data-dojo-props="title:'${label}',open:${open}" >

        <fieldset  >

            <input type="radio" data-dojo-type="dijit/form/RadioButton"
                   name="importFormat" id="radioMerge" checked value="Merge"/>
            <label for="radioMerge">Merge</label> <br />
            <input type="radio" data-dojo-type="dijit/form/RadioButton"
                   name="importFormat" id="radioOverwrite" value="Overwrite"/>
            <label for="radioOverwrite">Overwrite</label>



        </fieldset>
          <fieldset>

            <!--  force:'html5',
              uploadOnSelect: true,
               data-dojo-attach-event="onComplete: changeDataFromUpload"
                data-dojo-type="dojox/form/Uploader"
              -->
              <label class="custom-file-label" for="uploader">Select a CSV File:</label>
                  <div class="custom-file">
                      <input name="uploadedfile" class="custom-file-input"
                   multiple=false type="file" id="uploader"
                   accept=".csv"
title="Choose File"
                   data-dojo-attach-point="uploader"
                   data-dojo-attach-event="onChange: changeDataFromUpload"
                   data-dojo-props="label: 'Select a CSV File',
                  multiple:false,
                  uploadOnSelect: false,"

            />

                  </div>


          </fieldset>


    </div>

</div>