<div class="pull-right">
    <button data-dojo-type="dijit/form/Button" type="button" class="btn btn-link"
    data-dojo-attach-point="sendSavedPage"
    data-dojo-attach-event="click: click_sendSavedPage">Send Page to a Studio
</button>
    <button data-dojo-type="dijit/form/Button" type="button" class="btn btn-link"
            data-dojo-attach-point="sendSavedCollection"
            data-dojo-attach-event="click: click_sendSavedCollection">
        Send Collection to a Studio
    </button>
    <button data-dojo-type="dijit/form/Button" type="button" class="btn btn-link"
            data-dojo-attach-point="sendToSuave"
            data-dojo-attach-event="click: click_sendToSuave">
        Send Collection to SuAVE
    </button>
</div>