<div>
    <div class="g-drop-pane" data-dojo-type="app/search/DropPane"
         data-dojo-attach-point="dropPane"
         data-dojo-props="title:'${label}',open:${open}">
        <div class="form-group">
        <div data-dojo-type="dijit/form/Select"
             data-dojo-attach-point="menuNode"
        id="collectionMenuNode">
            <span value="default" selected><i>Unnassigned Results</i></span>
            <span value="All"><i>Show All</i></span>
        </div>
        <button data-dojo-attach-point="viewBtn" data-dojo-type="dijit/form/Button"
                data-dojo-attach-event="onClick:_selCollection"
                type="button" class="btn btn-primary">View

        </button>
        </div>
        <div class="form-group">
        <input type="text" id="newCollection" value="Enter a New Collection"
               data-dojo-type="dijit/form/TextBox"
               data-dojo-props="trim:true, propercase:true"
               data-dojo-attach-point="newCollection" />
        <button data-dojo-attach-point="newBtn"
                data-dojo-type="dijit/form/Button"
                data-dojo-attach-event="onClick:_addCollection"
                type="button" class="btn btn-primary">Create New Collection

        </button>
        </div>
        <div class="form-group">
        <button data-dojo-attach-point="removeBtn"
                data-dojo-type="dijit/form/Button"
                data-dojo-attach-event="onClick:_removeCollection"
                type="button"
        class="btn btn-danger">Remove Collection

        </button>
        </div>
        <div class="form-group">

    <a data-dojo-attach-point="exportBtn"  download="exportCollection.csv" class="btn btn-primary"
            data-dojo-attach-event="onClick:expAll2">Export Collection

    </a>
        </div>
    </div>
</div>