<div class="g-item-card"
     data-dojo-attach-point="containerNode"
     data-dojo-attach-event="onmouseenter: _mouseenter, onmouseleave: _mouseleave">
    <div class="g-item-title" data-dojo-attach-point="titleNode"></div>
    <!--  <button class="action-button g-item-save  pull-right"
             data-dojo-attach-point="saveNode"  >Save</button>
   -->
    <div>

        <div class="pull-right" >
            <span class="g-item-description  clearfix" data-dojo-attach-point="collectionsNode"></span>
        </div>
        <div class="g-item-description pull-left clearfix" data-dojo-attach-point="descriptionNode"></div>
    </div>
    <div >
        <button type="button"
                data-dojo-attach-point="addButton"
                data-dojo-attach-event="onClick: onAddCollectionClicked"
                class="btn btn-link btn-sm"
        >Add to Collection</button>
        <button type="button"
                data-dojo-attach-point="rmCollectionButton"
                data-dojo-attach-event="onClick: onRemoveCollectionClicked"
                class="btn btn-link btn-sm"
        >Remove from Collection</button>
        <button type="button"
                data-dojo-attach-point="rmMdRecordButton"
                data-dojo-attach-event="onClick: onRemoveMDRecordClicked"
                class="btn btn-link btn-sm"
        >Remove Saved record</button>
    </div>

    <div class="g-item-identification" data-dojo-attach-point="idNode"></div>
    <div data-dojo-attach-point="myTempDialog" data-dojo-type="dijit/Dialog" title="clicked"
         > Clicked
    </div>
</div>