<div>
    <div class="g-drop-pane" data-dojo-type="app/search/DropPane"
         data-dojo-attach-point="dropPane"
         data-dojo-props="title:'${label}',open:${open}">
        <div data-dojo-type="dijit/form/Select" data-dojo-attach-point="menuNode">
            <span value="Your Saved Searches"><i>Your Saved Searches</i></span>
        </div>
        <button data-dojo-attach-point="saveBtn" data-dojo-type="dijit/form/Button"
                data-dojo-attach-event="onClick: _addSearch"
                type="button">Save Current Search

        </button>
        <button data-dojo-attach-point="showBtn" data-dojo-type="dijit/form/Button"
                data-dojo-attach-event="onClick: show_cinergi"
                type="button">Show Search Results

        </button>
        <button data-dojo-attach-point="removeBtn" data-dojo-type="dijit/form/Button"
                data-dojo-attach-event="onClick: _removeSearch" type="button">Remove

        </button>

    </div>
</div>