<div class="g-applied-filters">
	<div class="g-drop-pane" data-dojo-type="app/search/DropPane" 
	  data-dojo-attach-point="dropPane"
	  data-dojo-props="title:'${label}',open:${open}">
	  <div class="g-entries" data-dojo-attach-point="entriesNode"></div>
	</div>
<!--	<div data-dojo-type="dijit/Tooltip"
		 data-dojo-attach-point="ToolTip"
		 data-dojo-props="position:['below']">
		Current filters. Reflecting text search, spatial extent, temporal extent, and one or more filters reflecting selected facets.  Adding filters will narrows your search results. Uncheck the filters when you want to broaden the search
	</div>
	-->
</div>