<div data-dojo-attach-point="contentNode">

    <div class="g-search-pane" data-dojo-type="app/collection/CollectionPane">
        <div class="g-search-pane-left">
            <div data-dojo-type="app/collection/SavedCollections"></div>
            <div data-dojo-type="app/collection/SavedSearches"></div>
        <div data-dojo-type="app/collection/CollectionImport"></div>
        </div>

        <div class="g-search-pane-right">
             <div data-dojo-type="app/collection/ItemsPane"></div>
        </div>

    </div>
</div>